.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-item3 {
    
}

.grid-item4 {
    
}

.thumnail {
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.img {
    width: 100%;
    flex-shrink: 0;
}
h3 {
    font-weight: 500;
    word-break: break-all;
    flex: -1;
}
button {
    background-color: #f2b705;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    width: 150px;
    flex-shrink: 0;
}